<p>
  Need an Account?
</p>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>
    <input type="text"
           maxLength="10"
           class="login_username"
           name="user[username]"
           placeholder='New Username'
           value="">
    <div class="bottom_pad"></div>
    <input type="password"
             name="user[password]"
             placeholder='New Password'
             value=""
             class="bottom_pad">
    <div class="bottom_pad"></div>
    <input type="submit" value="Sign Up!" class="login">
    <div class="bottom_pad"></div>
    <div class="bottom_pad"></div>
    <div class="bottom_pad"></div>
    <div class="bottom_pad"></div>
</form>

<p>
  Already a Member?
</p>

<%= link_to "Sign In!", new_session_url, method: :get %>
