/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: white;
  counter-reset: item;
  font-family: 'Muli', sans-serif;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
}

span {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ol {
  list-style: none;
  width: 60%;
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  /*display: inline;*/
}

p {
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li:hover {
  cursor: -webkit-grab; cursor: -moz-grab;
}

li:active {
  cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

li {
  color: black;
  border-radius: 1px;
  width: 200px;
  height: 190px;
  /*box-shadow: 2px 2px 2px #ebebeb;*/
  counter-increment: item;
  margin: 30px 15px 0px 15px;
  /*padding: 0px 0px 15px 0px;*/
  font-weight: bold;
  /*margin-right: 56px;*/
  text-align: center;

  /*float: left;*/
  display: inline-block;
  /*float: none;*/

  text-shadow: 0px;
  position: relative;
  background: rgba(243,241,124,1);
  background: -moz-linear-gradient(top, rgba(243,241,124,1) 0%, rgba(255,205,97,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,241,124,1)), color-stop(100%, rgba(255,205,97,1)));
  background: -webkit-linear-gradient(top, rgba(243,241,124,1) 0%, rgba(255,205,97,1) 100%);
  background: -o-linear-gradient(top, rgba(243,241,124,1) 0%, rgba(255,205,97,1) 100%);
  background: -ms-linear-gradient(top, rgba(243,241,124,1) 0%, rgba(255,205,97,1) 100%);
  background: linear-gradient(to bottom, rgba(243,241,124,1) 0%, rgba(255,205,97,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f17c', endColorstr='#ffcd61', GradientType=0 );
}

li:before {
  margin-right: 155px;
  margin-top: 15px;
  margin-bottom: 0px;
  content: counter(item);
  border-radius: 100%;
  border-width: 0px;
  border-style: solid;
  color: black;
  display: inline-block;
  font-weight: normal;
}

.drop-form {
  margin: 30px 0px 0px 0px;
  /*display: table-footer-group;*/
}

.bottom-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0px 0px 0px;
  height: 5px;
  width: 175px;
  box-shadow: 0 5px 5px -5px #bfbfbf;
}

.right-shadow {
  position: absolute;
  top: 0;
  right: 0;
  height: 165px;
  padding: 0px 0px 0px 15px;
  width: 1px;
  box-shadow: 5px 0 5px -5px #bfbfbf;
}

.pagepeel {
  height: 30px;
  width: 30px;
  position:absolute;
  bottom:0;
  right:0;
  background: rgba(255,196,33,1);
  background: -moz-linear-gradient(-45deg, rgba(255,196,33,1) 0%, rgba(255,196,33,1) 21%, rgba(199,158,22,1) 50%, rgba(224,224,224,1) 50%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,196,33,1)), color-stop(21%, rgba(255,196,33,1)), color-stop(50%, rgba(199,158,22,1)), color-stop(50%, rgba(224,224,224,1)), color-stop(57%, rgba(235,235,235,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,196,33,1) 0%, rgba(255,196,33,1) 21%, rgba(199,158,22,1) 50%, rgba(224,224,224,1) 50%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,196,33,1) 0%, rgba(255,196,33,1) 21%, rgba(199,158,22,1) 50%, rgba(224,224,224,1) 50%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,196,33,1) 0%, rgba(255,196,33,1) 21%, rgba(199,158,22,1) 50%, rgba(224,224,224,1) 50%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
  background: linear-gradient(135deg, rgba(255,196,33,1) 0%, rgba(255,196,33,1) 21%, rgba(199,158,22,1) 50%, rgba(224,224,224,1) 50%, rgba(235,235,235,1) 57%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc421', endColorstr='#ffffff', GradientType=1 );
}

.list-shift {
  padding: 0px 0px 0px 0px;
}

.item-body {
  padding: 10px 0px 3px 0px;
}

.todo-text {
  position: absolute;
  /*background-color: red;*/
  font-weight: normal;
  /*height: 100px;*/
  /*vertical-align: center;*/
  /*bottom: 100px;*/
  text-align: center;
  width: 100%;
  font-weight: normal;
  padding: 45px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  /*position: absolute;*/
  /*align: center;*/
  /*bottom: 0;*/
  /*text-shadow: black .5px .5px;*/
  font-family: montserrat;
}

.placard-shift {
  padding: 0px 0px 0px 0px;
}

.create {
  font-size: 16px;
  padding: 0px 0px 7px 0px;
}

.destroy {
  color: #bfbfbf;
  padding: 8px 14px 0px 0px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.destroy:hover {
  color: red;
  /*font-size: 25px;*/
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.complete {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  padding: 0px 0px 17px 50px;
  bottom: 0;
  color: grey;
  align: center;
  /*color: white;*/
  font-weight: lighter;
  width: 105px;
}

.complete:hover {
  color: black;
  text-decoration: underline;
}

.completed {
  font-size: 14px;
  padding: 0px 0px 1px 0px;
}

.completed-item {
  position: relative;
  padding: 10px 0px 10px 0px;
  width: 375px;
  height: 75px;
  margin: 8px;
  box-shadow: 1px 1px #B8B8B8;
  background: rgba(247,203,91,1);
  background: -moz-linear-gradient(-45deg, rgba(247,203,91,1) 0%, rgba(247,222,158,1) 0%, rgba(255,245,224,1) 7%, rgba(255,223,153,1) 10%, rgba(255,240,207,1) 11%, rgba(252,224,169,1) 16%, rgba(255,255,255,1) 18%, rgba(255,209,117,1) 29%, rgba(255,236,199,1) 30%, rgba(255,240,207,1) 31%, rgba(255,231,178,1) 38%, rgba(255,243,214,1) 42%, rgba(255,215,115,1) 47%, rgba(242,242,242,1) 52%, rgba(251,223,147,1) 57%, rgba(255,229,176,1) 63%, rgba(255,246,229,1) 66%, rgba(242,213,162,1) 69%, rgba(240,206,147,1) 70%, rgba(255,229,176,1) 75%, rgba(255,246,227,1) 75%, rgba(250,216,158,1) 77%, rgba(255,240,207,1) 88%, rgba(255,211,135,1) 91%, rgba(255,246,227,1) 94%, rgba(255,246,227,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,203,91,1)), color-stop(0%, rgba(247,222,158,1)), color-stop(7%, rgba(255,245,224,1)), color-stop(10%, rgba(255,223,153,1)), color-stop(11%, rgba(255,240,207,1)), color-stop(16%, rgba(252,224,169,1)), color-stop(18%, rgba(255,255,255,1)), color-stop(29%, rgba(255,209,117,1)), color-stop(30%, rgba(255,236,199,1)), color-stop(31%, rgba(255,240,207,1)), color-stop(38%, rgba(255,231,178,1)), color-stop(42%, rgba(255,243,214,1)), color-stop(47%, rgba(255,215,115,1)), color-stop(52%, rgba(242,242,242,1)), color-stop(57%, rgba(251,223,147,1)), color-stop(63%, rgba(255,229,176,1)), color-stop(66%, rgba(255,246,229,1)), color-stop(69%, rgba(242,213,162,1)), color-stop(70%, rgba(240,206,147,1)), color-stop(75%, rgba(255,229,176,1)), color-stop(75%, rgba(255,246,227,1)), color-stop(77%, rgba(250,216,158,1)), color-stop(88%, rgba(255,240,207,1)), color-stop(91%, rgba(255,211,135,1)), color-stop(94%, rgba(255,246,227,1)), color-stop(100%, rgba(255,246,227,1)));
  background: -webkit-linear-gradient(-45deg, rgba(247,203,91,1) 0%, rgba(247,222,158,1) 0%, rgba(255,245,224,1) 7%, rgba(255,223,153,1) 10%, rgba(255,240,207,1) 11%, rgba(252,224,169,1) 16%, rgba(255,255,255,1) 18%, rgba(255,209,117,1) 29%, rgba(255,236,199,1) 30%, rgba(255,240,207,1) 31%, rgba(255,231,178,1) 38%, rgba(255,243,214,1) 42%, rgba(255,215,115,1) 47%, rgba(242,242,242,1) 52%, rgba(251,223,147,1) 57%, rgba(255,229,176,1) 63%, rgba(255,246,229,1) 66%, rgba(242,213,162,1) 69%, rgba(240,206,147,1) 70%, rgba(255,229,176,1) 75%, rgba(255,246,227,1) 75%, rgba(250,216,158,1) 77%, rgba(255,240,207,1) 88%, rgba(255,211,135,1) 91%, rgba(255,246,227,1) 94%, rgba(255,246,227,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(247,203,91,1) 0%, rgba(247,222,158,1) 0%, rgba(255,245,224,1) 7%, rgba(255,223,153,1) 10%, rgba(255,240,207,1) 11%, rgba(252,224,169,1) 16%, rgba(255,255,255,1) 18%, rgba(255,209,117,1) 29%, rgba(255,236,199,1) 30%, rgba(255,240,207,1) 31%, rgba(255,231,178,1) 38%, rgba(255,243,214,1) 42%, rgba(255,215,115,1) 47%, rgba(242,242,242,1) 52%, rgba(251,223,147,1) 57%, rgba(255,229,176,1) 63%, rgba(255,246,229,1) 66%, rgba(242,213,162,1) 69%, rgba(240,206,147,1) 70%, rgba(255,229,176,1) 75%, rgba(255,246,227,1) 75%, rgba(250,216,158,1) 77%, rgba(255,240,207,1) 88%, rgba(255,211,135,1) 91%, rgba(255,246,227,1) 94%, rgba(255,246,227,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(247,203,91,1) 0%, rgba(247,222,158,1) 0%, rgba(255,245,224,1) 7%, rgba(255,223,153,1) 10%, rgba(255,240,207,1) 11%, rgba(252,224,169,1) 16%, rgba(255,255,255,1) 18%, rgba(255,209,117,1) 29%, rgba(255,236,199,1) 30%, rgba(255,240,207,1) 31%, rgba(255,231,178,1) 38%, rgba(255,243,214,1) 42%, rgba(255,215,115,1) 47%, rgba(242,242,242,1) 52%, rgba(251,223,147,1) 57%, rgba(255,229,176,1) 63%, rgba(255,246,229,1) 66%, rgba(242,213,162,1) 69%, rgba(240,206,147,1) 70%, rgba(255,229,176,1) 75%, rgba(255,246,227,1) 75%, rgba(250,216,158,1) 77%, rgba(255,240,207,1) 88%, rgba(255,211,135,1) 91%, rgba(255,246,227,1) 94%, rgba(255,246,227,1) 100%);
  background: linear-gradient(135deg, rgba(247,203,91,1) 0%, rgba(247,222,158,1) 0%, rgba(255,245,224,1) 7%, rgba(255,223,153,1) 10%, rgba(255,240,207,1) 11%, rgba(252,224,169,1) 16%, rgba(255,255,255,1) 18%, rgba(255,209,117,1) 29%, rgba(255,236,199,1) 30%, rgba(255,240,207,1) 31%, rgba(255,231,178,1) 38%, rgba(255,243,214,1) 42%, rgba(255,215,115,1) 47%, rgba(242,242,242,1) 52%, rgba(251,223,147,1) 57%, rgba(255,229,176,1) 63%, rgba(255,246,229,1) 66%, rgba(242,213,162,1) 69%, rgba(240,206,147,1) 70%, rgba(255,229,176,1) 75%, rgba(255,246,227,1) 75%, rgba(250,216,158,1) 77%, rgba(255,240,207,1) 88%, rgba(255,211,135,1) 91%, rgba(255,246,227,1) 94%, rgba(255,246,227,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cb5b', endColorstr='#fff6e3', GradientType=1 );
}

.screw1 {
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  margin-bottom: 0px;
  background: grey;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  color: grey;
  width: 1.3em;
  text-align: center;
  font-weight: normal;
  background: rgba(255,253,235,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,253,235,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdeb', endColorstr='#feb645', GradientType=1 );
}

.screw2 {
  position: absolute;
  margin-left: 347px;
  margin-top: -5px;
  margin-bottom: 0px;
  background: grey;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  color: grey;
  width: 1.3em;
  text-align: center;
  font-weight: normal;
  background: rgba(255,253,235,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,253,235,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdeb', endColorstr='#feb645', GradientType=1 );
}

.screw3 {
  position: absolute;
  margin-left: 5px;
  margin-top: 57px;
  margin-bottom: 0px;
  background: grey;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  color: grey;
  width: 1.3em;
  text-align: center;
  font-weight: normal;
  background: rgba(255,253,235,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,253,235,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdeb', endColorstr='#feb645', GradientType=1 );
}

.screw4 {
  position: absolute;
  margin-left: 347px;
  margin-top: 57px;
  margin-bottom: 0px;
  background: white;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcfcf;
  color: grey;
  width: 1.3em;
  text-align: center;
  font-weight: normal;
  background: rgba(255,253,235,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,253,235,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,253,235,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdeb', endColorstr='#feb645', GradientType=1 );
}

.delete {
  cursor: pointer;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  color: black;
  font-weight: lighter;
  width: 100px;
}

.delete:hover {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav {
  font-weight: lighter;
  font-size: 20px;
  padding-bottom: 11px;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 200px #66a3ff;
}

.heading {
  /*font-style: italic;*/
  padding: 30px 0px 20px 0px;
  font-weight: lighter;
  font-size: 20px;
}






/**/
