/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: white;
  counter-reset: item;
}

ol {
  list-style: none;
}

p {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li:hover {
  cursor: -webkit-grab; cursor: -moz-grab;
}

li:active {
  cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

li {
  background-color: #33cccc;
  border-radius: 15px;
  width: 300px;
  box-shadow: 2px 2px 2px grey;
  counter-increment: item;
  margin: 15px;
  font-weight: bold;
  margin-right: 56px;
}

li:before {
  margin-right: 256px;
  margin-top: 8px;
  margin-bottom: 0px;
  content: counter(item);
  background: white;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
  color: black;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  font-weight: normal;
}

button {
  cursor: pointer;
}

span {
  margin: 5px;
}

.complete {
  cursor: pointer;
  font-size: 14px;
  padding: 7px 0px 8px 0px;
  color: black;
  font-weight: lighter;
}

.completed {
  font-size: 14px;
  padding: 8px 0px 8px 0px;
  /*font-weight: bold;*/
}

.completed-item {
  padding: 10px 0px 10px 0px;
}

.delete {
  cursor: pointer;
  font-size: 12px;
  /*padding: 7px 0px 8px 0px;*/
  color: black;
  font-weight: lighter;
}

.delete:hover {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}







/**/
