/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: white;
  counter-reset: item;
  font-family: 'Muli', sans-serif;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
}

ol {
  list-style: none;
}

p {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li:hover {
  cursor: -webkit-grab; cursor: -moz-grab;
}

li:active {
  cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

li {
  /*background-color: #33cccc;*/
  /*background-color: #3366ff;*/
  background-color: #3385ff;
  color: white;
  border-radius: 15px;
  width: 300px;
  box-shadow: 2px 2px 2px #cccccc;
  counter-increment: item;
  margin: 15px;
  font-weight: bold;
  margin-right: 56px;

  background: rgba(163,194,255,1);
  background: -moz-linear-gradient(top, rgba(163,194,255,1) 0%, rgba(97,152,255,1) 50%, rgba(5,101,255,1) 51%, rgba(163,194,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,194,255,1)), color-stop(50%, rgba(97,152,255,1)), color-stop(51%, rgba(5,101,255,1)), color-stop(100%, rgba(163,194,255,1)));
  background: -webkit-linear-gradient(top, rgba(163,194,255,1) 0%, rgba(97,152,255,1) 50%, rgba(5,101,255,1) 51%, rgba(163,194,255,1) 100%);
  background: -o-linear-gradient(top, rgba(163,194,255,1) 0%, rgba(97,152,255,1) 50%, rgba(5,101,255,1) 51%, rgba(163,194,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(163,194,255,1) 0%, rgba(97,152,255,1) 50%, rgba(5,101,255,1) 51%, rgba(163,194,255,1) 100%);
  background: linear-gradient(to bottom, rgba(163,194,255,1) 0%, rgba(97,152,255,1) 50%, rgba(5,101,255,1) 51%, rgba(163,194,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3c2ff', endColorstr='#a3c2ff', GradientType=0 );
}

li:before {
  margin-right: 256px;
  margin-top: 8px;
  margin-bottom: 0px;
  content: counter(item);
  background: white;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #e6e6e6;
  color: black;
  width: 1.3em;
  text-align: center;
  display: inline-block;
  font-weight: normal;
}

button {
  cursor: pointer;
}

span {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.todo-text {
  font-weight: normal;
  text-shadow: black .5px .5px;
  font-family: montserrat;
}

.complete {
  cursor: pointer;
  font-size: 14px;
  padding: 7px 0px 8px 0px;
  color: white;
  font-weight: lighter;
}

.complete:hover {
  text-decoration: underline;
}

.completed {
  font-size: 14px;
  padding: 8px 0px 8px 0px;
  /*font-weight: bold;*/
}

.completed-item {
  padding: 10px 0px 10px 0px;
}

.delete {
  cursor: pointer;
  font-size: 12px;
  /*padding: 7px 0px 8px 0px;*/
  color: black;
  font-weight: lighter;
}

.delete:hover {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav {
  font-weight: lighter;
  font-size: 20px;
  padding-bottom: 11px;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 200px #66a3ff;
}

.heading {
  padding-top: 15px;
  font-weight: lighter;
  font-size: 20px;
}






/**/
